app7_web-scraping.ipynb
cookies.json
cookies.pkl
My_webscrapping.ipynb
out.csv
smartwatches.csv
smartwatches.xlsx
Untitled.ipynb
ws_mercadolibre.py
.ipynb_checkpoints/app7_web-scraping-checkpoint.ipynb
.ipynb_checkpoints/My_webscrapping-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
